img{
	width: 30%;
	float: left;
	margin: 1.66%;

}

p{
	font-family: Spicy Rice; 
	margin-left: 1.66%;
	font-size: 46px;
	font-weight: 100;
	text-transform: uppercase;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
	color: white;
}

body{
	background-color: black;
}
